// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.


/dts-v1/;
/plugin/;

#include "tegra234-soc-overlay.dtsi"
#include "tegra234-p3737-0000-overlay.dtsi"
#include "tegra234-p3701-0000-overlay.dtsi"
#include "tegra234-audio-dai-links-overlay.dtsi"

/ {
	fragment-t234-p3737-p3701@0 {
		target-path = "/bpmp/i2c";
		__overlay__ {
			vrs@3c {
				compatible = "nvidia,vrs-pseq";
				reg = <0x3c>;
				interrupts = <GIC_SPI 209 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-controller;
				#interrupt-cells = <3>;
				status = "okay";
				vrs_rtc: rtc {
					status = "okay";
				};
			};
		};
	};

	fragment-t234-p3737-p3701@1 {
		target-path = "/bus@0/i2c@3160000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@2 {
		target-path = "/bus@0/i2c@c240000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@3 {
		target-path = "/bus@0/i2c@3180000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@4 {
		target-path = "/bus@0/i2c@3190000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@5 {
		target-path = "/bus@0/i2c@31b0000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@6 {
		target-path = "/bus@0/i2c@31c0000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@7 {
		target-path = "/bus@0/i2c@c250000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@8 {
		target-path = "/bus@0/i2c@31e0000";
		__overlay__ {
			status = "okay";
		};
	};

	fragment-t234-p3737-p3701@9 {
		target-path = "/";
		__overlay__ {
			sound {
				compatible = "nvidia,tegra186-ape";
				clocks = <&bpmp TEGRA234_CLK_PLLA>,
					 <&bpmp TEGRA234_CLK_PLLA_OUT0>,
					 <&bpmp TEGRA234_CLK_AUD_MCLK>;
				clock-names = "pll_a", "pll_a_out0", "extern1";
				assigned-clocks = <&bpmp TEGRA234_CLK_AUD_MCLK>;
				assigned-clock-parents = <&bpmp TEGRA234_CLK_PLLA_OUT0>;

				nvidia-audio-card,name = "NVIDIA Jetson AGX Orin APE";
			};

			reserved-memory {
				#address-cells = <2>;
				#size-cells = <2>;
				ranges;

				linux,cma { /* Needed for nvgpu comptags */
					compatible = "shared-dma-pool";
					reusable;
					size = <0x0 0x10000000>; /* 256MB */
					alignment = <0x0 0x10000>;
					linux,cma-default;
					status = "okay";
				};
			};
		};
	};
};
