// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.


#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/clock/tegra234-clock-oot.h>
#include <dt-bindings/reset/tegra234-reset.h>
#include <dt-bindings/reset/tegra234-reset-oot.h>
#include <dt-bindings/memory/tegra234-mc.h>
#include <dt-bindings/memory/tegra234-mc-oot.h>
#include <dt-bindings/memory/tegra234-smmu-streamid.h>

/ {
	overlay-name = "Add nvidia,p3737-0000+p3701-0000 Overlay Support";
	compatible = "nvidia,tegra234";

	fragment-t234@0 {
		target-path = "/bus@0";
		__overlay__ {
			watchdog@2190000 {
				compatible = "nvidia,tegra-wdt-t234";
				reg = <0x02190000 0x10000>, /* WDT0 */
				      <0x02090000 0x10000>, /* TMR0 */
				      <0x02080000 0x10000>; /* TKE */
				interrupts = <7 0x4 8 0x4>; /* TKE shared int */
				nvidia,watchdog-index = <0>;
				nvidia,timer-index = <7>;
				nvidia,enable-on-init;
				nvidia,extend-watchdog-suspend;
				timeout-sec = <120>;
				nvidia,disable-debug-reset;
				status = "okay";
			};

			gpcdma: gpcdma@2600000 {
				compatible = "nvidia,tegra234-gpcdma";
				reg = <0x2600000 0x210000>;
				resets = <&bpmp TEGRA234_RESET_GPCDMA>;
				reset-names = "gpcdma";
				interrupts = <0 75 0x04
					0 76 0x04
					0 77 0x04
					0 78 0x04
					0 79 0x04
					0 80 0x04
					0 81 0x04
					0 82 0x04
					0 83 0x04
					0 84 0x04
					0 85 0x04
					0 86 0x04
					0 87 0x04
					0 88 0x04
					0 89 0x04
					0 90 0x04
					0 91 0x04
					0 92 0x04
					0 93 0x04
					0 94 0x04
					0 95 0x04
					0 96 0x04
					0 97 0x04
					0 98 0x04
					0 99 0x04
					0 100 0x04
					0 101 0x04
					0 102 0x04
					0 103 0x04
					0 104 0x04
					0 105 0x04
					0 106 0x04
					0 107 0x04>;
				#dma-cells = <1>;
				iommus = <&smmu_niso0 TEGRA234_SID_GPCDMA>;
				dma-coherent;
				nvidia,start-dma-channel-index = <1>;
				dma-channels = <31>;

				status = "okay";
			};

			serial@3110000 {
				compatible = "nvidia,tegra194-hsuart";
				reg = <0x03110000 0x10000>;
				reg-shift = <2>;
				interrupts = <0 113 0x04>;
				clocks = <&bpmp TEGRA234_CLK_UARTB>,
					 <&bpmp TEGRA234_CLK_PLLP_OUT0>;
				clock-names = "serial", "parent";
				resets = <&bpmp TEGRA234_RESET_UARTB>;
				reset-names = "serial";
				status = "okay";
			};
		};
	};

	fragment-t234@1 {
		target-path = "/bus@0/host1x@13e00000";
		__overlay__ {
			se@15810000 {
				compatible = "nvidia,tegra234-se1-nvhost";
				reg = <0x15810000 0x10000>;
				supported-algos = "drbg";
				nvidia,io-coherent;
				opcode_addr = <0x1004>;
				clocks = <&bpmp TEGRA234_CLK_SE>;
				clock-names = "se";

				iommus = <&smmu_niso1 TEGRA234_SID_SES_SE0>;
				dma-coherent;
				interconnects = <&mc TEGRA234_MEMORY_CLIENT_SESRD &emc>,
						<&mc TEGRA234_MEMORY_CLIENT_SESWR &emc>;
				interconnect-names = "read", "write";
				status = "okay";
			};

			se@15820000 {
				compatible = "nvidia,tegra234-se2-nvhost";
				reg = <0x15820000 0x10000>;
				supported-algos = "aes", "cmac", "xts", "aead";
				nvidia,io-coherent;
				opcode_addr = <0x2004>;
				clocks = <&bpmp TEGRA234_CLK_SE>;
				clock-names = "se";

				iommus = <&smmu_niso1 TEGRA234_SID_SES_SE1>;
				dma-coherent;
				interconnects = <&mc TEGRA234_MEMORY_CLIENT_SESRD &emc>,
						<&mc TEGRA234_MEMORY_CLIENT_SESWR &emc>;
				interconnect-names = "read", "write";

				status = "okay";
			};

			se@15840000 {
				compatible = "nvidia,tegra234-se2-nvhost";
				reg = <0x15840000 0x10000>;
				supported-algos = "sha", "sha3", "hmac";
				nvidia,io-coherent;
				opcode_addr = <0x4004>;
				clocks = <&bpmp TEGRA234_CLK_SE>;
				clock-names = "se";

				iommus = <&smmu_niso1 TEGRA234_SID_SES_SE2>;
				dma-coherent;
				interconnects = <&mc TEGRA234_MEMORY_CLIENT_SESRD &emc>,
						<&mc TEGRA234_MEMORY_CLIENT_SESWR &emc>;
				interconnect-names = "read", "write";

				status = "okay";
			};
		};
	};

	fragment-t234@2 {
		target-path = "/";
		 __overlay__ {
			aliases {
				serial1 = "/bus@0/serial@3110000";
			};
		};
	};
};
